---
- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Ensure Nginx is started and enabled
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: Create test web
  copy:
    dest: /var/www/html/index.html
    content: "<h1>Hola, web de Nacho Caniculo!</h1>"
