name: Deploy Infrastructure and Configure with Ansible

on:
  workflow_dispatch:

jobs:
  validate-deploy-general:
    name: Terraform Plan & Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Give execution permision to the .sh file
        run: chmod +x deploy.sh
    
      - name: Valdiate sintaxis
        run: bash -n deploy.sh
        

  validate-terraform:
    name: Terraform Plan & Apply
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform fmt -check && terraform validate

      - name: Terraform Plan
        working-directory: ./terraform
        run: run: terraform plan -no-color

  validate-ansible:
    name: Configure EC2 with Ansible
    runs-on: ubuntu-latest
    needs: terraform
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ANSIBLE_HOST_KEY_CHECKING: "False"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible sshpass

      - name: Install dependencies
        run: ansible-galaxy collection install amazon.aws

      - name: Check Ansible syntax
        run: |
          export ANSIBLE_CONFIG=.Ansible/ansible.cfg
          ansible-playbook --syntax-check .Ansible/site.yml

